*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#site_header{
    height: 80px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header_contenitor{
    height: 40px;
    width: 900px;
    background-color: rgb(217, 111, 18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px ;

}

#menu{
    width: 350px;
    display: flex;
    justify-content:center ;
}

#link{
    padding: 0px 5px;
}

#banner_section{
    height: 400px;
    
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}


#banner{
    width: 700px;
    height: 350px;
    background-color: palevioletred;
}

